@import 'bootstrap/dist/css/bootstrap.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.paragraph {
    padding: 1rem;
}